
body { 
	background: url(https://ak9.picdn.net/shutterstock/videos/6031205/thumb/1.jpg);
	background-size: cover;
	font-family: 'Bungee Inline', cursive;
	color: white; }
header { margin-top: 30px;
		 text-align: center;
		 color: white; 
		 border-color: white; }
header a { color: white; text-decoration: none; }
header a:hover { text-decoration: none; color:white; }
form { text-align: center;
	   margin-top: 20px;
	   border-color: white; }
form, #results { padding: 0 20px; }
.item { margin-bottom: 25px; }
.w100 { width: 100%; }

.btn-submit{ background: blue; border-color: white; color: white; }
.btn-submit:hover, .btn-submit:active, .btn-submit:focus { background: lightblue;  border-color: white; color:white; }
.btn-copy { background: blue; border-color: white; color: white; }
.btn-copy:hover, .btn-copy:active, .btn-copy:focus { background: lightblue;  border-color: white; color: white; }
.btn-primary { background: blue; border-color: white; }

.btn-primary:hover, .btn-primary:active, .btn-primary:focus { background: lightblue;  border-color: white; }
.yt-red {background-color: red; color: white;}
.ig-purple {background-color: purple; color: white;}
.data-orange {background-color: orange; color: white;}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus { background: lightblue;  border-color: white; }.yt-red {background-color: red; color: white;}
.ig-purple {background-color: purple; color: white;}
.data-orange {background-color: orange; color: white;}

