
body { 
	bottom:background: url(https://ak9.picdn.net/shutterstock/videos/6031205/thumb/1.jpg);
	background-size: cover;
	font-family: 'Bungee Inline', cursive;
	color: lightgrey; }
header { margin-top: 30px; }
header a { color: black; text-decoration: none; }
header a:hover { text-decoration: none; }
form { margin-top: 20px; }
form, #results { padding: 0 20px; }
.item { margin-bottom: 25px; }
.w100 { width: 100%; }

.btn-copy { background: #952b2b; border-color: #957575; color:white; }
.btn-copy:hover, .btn-copy:active, .btn-copy:focus { background: #782b2b;  border-color: #952b2b; }
.btn-primary { background: #952b2b; border-color: #957575; }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { background: #782b2b;  border-color: #952b2b; }
.yt-red {background-color: red; color: white;}
.ig-purple {background-color: purple; color: white;}
.data-orange {background-color: orange; color: white;}
h1{}